body {
  background: #7ae7c7;
  font-family: 'Futura', Trebuchet MS, Arial, sans-serif;
  font-weight: 100;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

section {
  background: #d6ffb7;
  display: flex;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
}

footer section {
  padding: 0 20px;
}

.rollGraph {
  display: flex;
  justify-content: space-around;
  padding: 10px 30px 10px 11px;
}

.rollGraph div {
  background: #7ae7c7;
  color: #fff689;
  font-size: 22px;
  line-height: 12px;
  text-align: center;
  width: 70px;
}

.actualGraph {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  display: flex;
  height: 120px;
  justify-content: space-around;
  margin: 0 10px 0 -10px;
  width: 110%;
}

.actualGraph div {
  align-self: baseline;
  background: #58355e;
  width: 70px;
}

.counter {
  color: #ec0b43;
  font-size: 16px;
}

.percentage {
  color: #58355e;
  font-size: 16px;
}

.rollingRollCounter {
  padding-bottom: 10px;
}

.whoRolledHolder,
.diceHolder,
.totalHolder,
.rollerHolder {
  justify-content: center;
}

.whoRolledHolder {
  font-size: 33px;
}

.totalHolder {
  color: #58355e;
}

.playerRolls {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
  width: 100%;
}

.playerRolls div {
  border: 1px solid #58355e;
  margin-top: 30px;
  max-width: 40vw;
  padding: 25px 25px;
  width: 45%;
}

.dice {
  background: #fff689;
  border: 1px solid black;
  height: 100px;
  margin: 10px;
  width: 100px;
}

.diceSquare {
  align-items: center;
  font-size: 50px;
  justify-content: center;
  line-height: 0px;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  body {
    font-weight: 700;
  }
  .playerRolls div {
    max-width: 90%;
    width: 90%;
  }
}
